
.container-fluid {
  color: #fdfffb;
  min-height: 10vh;
  padding: 20px;
}
li {
  border: 1px solid #137be4;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.row{
  background-color: #312f2f;
  margin-left: 0;
  margin-right: 0;
}

/* Column styling */
.col-md-3, .col-md-9 {
  padding-left: 0;
  padding-right: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .col-md-3, .col-md-9 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
.card {
 
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Card header styling */
.card h3 {
  color: black; /* Dark color for text */
  margin-bottom: 1rem;
}